<div class="row">
  <div class="large-4 columns">

    <form name="blogAnalyserform" id="blogAnalyserform" method="get">
      <label for="selectFrom">Select from:</label>
      <input id="selectFrom" name="selectFrom" type="datetime-local" />

      <label for="selectTo">Select TO:</label>
      <input id="selectTo" name="selectTo" type="datetime-local" />

      <label for="interval">Search for:</label>
      <input id="interval" name="interval" type="text" />

      <div >
        <input type="submit" value="Submit" class="submit"/>
        <span class="error" style="display:none"> Please Enter Valid Data</span>
        <span class="success" style="display:none"> Analysing .. </span>
      </div>
    </form>
  </div>
</div>
